:root {
  --primary-color: rgba(54, 54, 54, 0.849);
  --secondary-color: rgb(68, 143, 255);
  --background-color: #131313;
  --nav-color: rgba(0, 0, 0, 0.65);
  --h1-color: rgba(255, 255, 255, 0.95);
  --h2-color: rgba(255, 255, 255, 0.8);
  --h3-color: rgba(255, 255, 255, 0.7);
  --title-background: rgb(0, 0, 0);
  --text-background: rgb(41, 40, 40);
  --hero_border: hsla(0, 0%, 69%, 0.829);
  --hero_background: hsla(0, 0%, 89%, 0.747);
}

* {
  /* border: 1px solid red; */
  margin: 0;
}

body {
  margin: 0;
  background-color: var(--background-color);
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #f5f5f5;
}

.dark-mode,
.dark-mode .hero_img_container,
.dark-mode > :root {
  /* background-color: #f5f5f5; */
  color: black;
  --background-color: #e9e9e9;
  --nav-color: rgba(184, 184, 184, 0.65);
  --h1-color: rgba(0, 0, 0, 0.95);
  --h2-color: rgba(0, 0, 0, 0.8);
  --h3-color: rgba(0, 0, 0, 0.6);
  --title-background: rgb(100, 100, 100);
  --text-background: rgb(202, 202, 202);
  --hero_border: hsla(0, 0%, 9%, 0.829);
  --hero_background: hsla(0, 0%, 10%, 0.767);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  background-color: var(--background-color);
}

h1 {
  color: var(--h1-color);
}

h2 {
  color: var(--h2-color);
  font-size: 36px;
}

h3 {
  color: var(--h3-color);
  font-size: 16px;
}

.app_container {
  height: fit-content;
  margin-top: 60px;
  /* border: 1 solid red; */
}

.row {
  display: flex;
  flex-wrap: nowrap;
  flex: 1 1 auto;
  justify-content: stretch;
  margin: 2rem;
  border-radius: 24px;
  overflow: auto;
  align-content: center;
  background-color: var(--text-background);
}
.padding_row {
  padding: 3rem;
}

.wrap {
  flex-wrap: wrap;
  flex: 1 1 auto;
}

.column {
  flex-direction: column;
  justify-content: stretch;
}

.fixed {
  position: sticky;
}

.margin_top_bottom {
  margin: 1rem 0;
}

.margin_left_right {
  margin: 0 1rem;
}

.container {
  width: 90%;
  max-width: 980px;
  margin-right: auto;
  margin-left: auto;
}

.container.container--nav {
  position: relative;
  text-align: center;
}

.nav {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: auto;
  z-index: 100;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(17, 17, 17, 0.8);
  background-color: var(--nav-color);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}

.nav_container {
  display: flex;
  flex: 1 1 auto;
  justify-content: space-between;
  align-items: center;
}

.nav_logo {
  font-size: 18px !important;
  height: 30px !important;
  width: fit-content;
}

.logo_background {
  background-image: url("https://pbs.twimg.com/profile_banners/780833723902156800/1573632305/1500x500") !important;
  background-position: center !important;
  object-fit: contain;
  background-size: cover;
  background-blend-mode: overlay;
}

.nav_link {
  overflow: hidden;
  z-index: 102;
  display: inline-block;
  padding: 8px 18px;
  font-size: 14px;
  margin: 0px 6px;
  font-weight: 500;
  letter-spacing: -0.011em;
  text-decoration: none;
  color: var(--h2-color);
  border: 1px solid var(--primary-color);
  border-radius: 12px;
  background: rgb(0, 0, 0, 0.3);
}
.nav_link:first-of-type,
.nav_link:last-of-type {
  margin: 0;
}

.nav_request {
  color: var(--secondary-color);
}

#home {
  margin: 5rem;
}
#request {
  z-index: 99;
  margin-top: 2rem;
}

.user_name_container {
  height: 250px;
  max-height: 100%;
  margin-bottom: -250px;
  overflow: hidden;
  font-size: 80px;
  object-fit: contain;
  background-size: cover;
  background-position: center;
  background-image: url("https://pbs.twimg.com/profile_banners/780833723902156800/1573632305/1500x500");
}

.user_name {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: inherit;
  line-height: 75px;
  background-image: linear-gradient(
    0deg,
    var(--background-color),
    var(--nav-color) 25%
  );
  /* background-color: var(--title-background); */
  height: 100%;
  /* width: 100%; */
}

.user_description {
  flex-direction: column;
  background-color: var(--text-background);
  padding: 3rem 6rem;
  flex: 1 1;
  color: var(--h2-color);
  text-align: center;
  font-size-adjust: auto;
  font-size: 24px;
}

.user_profile {
  background-color: var(--text-background);
  max-height: 100%;
  max-width: 333px;
  object-fit: cover;
}

.error {
  z-index: 110;
  position: absolute;
  left: 1rem;
  margin: 0 auto;
  text-align: center;
  padding: 16px;
  opacity: 100%;
  color: rgb(226, 185, 0);
  font-weight: bold;
  background-color: rgb(129, 9, 9);
}

.hero_img_container {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  height: auto;
  max-width: 254px;
  padding: 12px;
  border: 1px solid var(--hero_border);
  border-radius: 50%;
  background-color: var(--hero_background);
  -o-object-fit: cover;
  object-fit: cover;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.member_container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
}

.member {
  border: 1px solid hsla(0, 0%, 100%, 0.3);
  border-radius: 12px;
  padding: 3rem 0;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #684626,
    #203a43,
    #0f2027
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #926726,
    #203a43,
    #0f2027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.user_info_container {
  margin-top: 3rem;
}

.user_info {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.user_info_container:first-of-type,
.user_info_container:last-of-type {
  padding: 0 2rem;
}

.intro {
  padding: 0 3rem 3rem 3rem;
  margin-top: 0;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

#intro_user_info {
  margin-top: 0;
}

.intro_bio {
  font-weight: normal;
  padding: 0 1rem;
}

#intro_job {
  font-weight: 800;
  color: rgba(255, 255, 255, 0.795);
}

.settings {
  z-index: 112;
  position: fixed;
  left: 1rem;
  bottom: 1rem;
  border: 1px solid #fff;
  padding: 1rem;
}

#settings_icon {
  z-index: 113;
  color: #f5f5f5;
  width: 40px;
  height: 40px;
  opacity: 1;
  background: #000;
}

.section {
  height: 80vh;
  padding: 8rem 3rem;
  background: #333;
}
.section:nth-of-type(2n) {
  background: var(--background-color);
}
