:root {
  --primary-color: rgb(54, 54, 54);
  --secondary-color: rgb(22, 90, 236);
  --background-color: #1d1d1d;
  --nav-color: rgba(0, 0, 0, 0.7);
  --h1-color: rgba(255, 255, 255, 0.95);
  --h2-color: rgba(255, 255, 255, 0.8);
  --h3-color: rgba(255, 255, 255, 0.6);
  --title-background: rgb(0, 0, 0);
  --text-background: rgb(41, 40, 40);
}

* {
  border: 1px solid red;
  margin: 0;
}

body {
  margin: 0;
  background-color: var(--background-color);
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #f5f5f5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  background-color: var(--background-color);
}

h1 {
  color: var(--h1-color);
}

h2 {
  color: var(--h2-color);
  font-size: 32px;
}

h3 {
  color: var(--h3-color);
  font-size: 18px;
}

.app_container {
  height: 200vh;
  margin-top: 60px;
  /* border: 1 solid red; */
}

.row {
  display: flex;
  flex-wrap: nowrap;
  flex: 1 1 auto;
  justify-content: stretch;
  margin: 1rem;
  border-radius: 24px;
  overflow: auto;
  align-content: center;
  background-color: var(--text-background);
}
.padding_row {
  padding: 3rem;
}

.padding_column {
  padding: 1rem;
}

.column {
  flex-direction: column;
  justify-content: stretch;
}

.margin_top_bottom {
  margin: 1rem 0;
}

.margin_left_right {
  margin: 0 1rem;
}

.container {
  width: 90%;
  max-width: 980px;
  margin-right: auto;
  margin-left: auto;
}

.container.container--nav {
  position: relative;
  text-align: center;
}

.nav {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: auto;
  z-index: 100;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(17, 17, 17, 0.8);
  background-color: var(--nav-color);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}

.nav_container {
  display: flex;
  flex: 1 1 auto;
  justify-content: space-between;
  align-items: center;
}

.nav_logo {
  font-size: 18px !important;
  height: 30px !important;
  width: fit-content;
}

.logo_background {
  background-image: url("https://pbs.twimg.com/profile_banners/780833723902156800/1573632305/1500x500") !important;
  background-position: center !important;
  object-fit: contain;
  background-size: cover;
  background-blend-mode: overlay;
}

.nav_link {
  overflow: hidden;
  z-index: 102;
  display: inline-block;
  padding: 8px 18px;
  font-size: 14px;
  margin: 0px 6px;
  font-weight: 500;
  letter-spacing: -0.011em;
  text-decoration: none;
  color: var(--h2-color);
  border: 1px solid var(--primary-color);
  border-radius: 12px;
  background: rgb(0, 0, 0, 0.3);
}
.nav_link:first-of-type,
.nav_link:last-of-type {
  margin: 0;
}

.nav_request {
  color: var(--secondary-color);
}

.user_name_container {
  height: 25vh;
  max-height: 100%;
  overflow: hidden;
  font-size: 80px;
  object-fit: contain;
  background-size: cover;
  background-position: center;
  background-image: url("https://pbs.twimg.com/profile_banners/780833723902156800/1573632305/1500x500");
}

.user_name {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-shadow: 2px 2px 2px #000, 0 0 8px var(--secondary-color), 0 0 72px #000;
  font-family: "Roboto";
  font-style: normal;
  font-weight: bolder;
  font-size: inherit;
  line-height: 75px;
  background-image: linear-gradient(
    0deg,
    var(--background-color),
    var(--nav-color) 100%
  );
  /* background-color: var(--title-background); */
  height: 100%;
  /* width: 100%; */
}

.user_description {
  flex-direction: column;
  background-color: var(--text-background);
  padding: 3rem 6rem;
  flex: 1 1;
  color: var(--h2-color);
  text-align: center;
  font-size-adjust: auto;
  font-size: 24px;
}

.user_profile {
  background-color: var(--text-background);
  max-height: 100%;
  max-width: 333px;
  object-fit: cover;
}

.error {
  z-index: 110;
  position: absolute;
  left: 1rem;
  margin: 0 auto;
  text-align: center;
  padding: 16px;
  opacity: 100%;
  color: rgb(226, 185, 0);
  font-weight: bold;
  background-color: rgb(129, 9, 9);
}

.hero_img_container {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  height: auto;
  max-width: 254px;
  padding: 12px;
  border: 1px solid hsla(0, 0%, 100%, 0.3);
  border-radius: 50%;
  background-color: hsla(0, 0%, 84%, 0.5);
  -o-object-fit: cover;
  object-fit: cover;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
